/*************************************
  PRE-MAIN
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

#header_top {
  /* display: none; */
}
nav.navbar {
  display: none;
}

/*************************************
    UTILITY
*/
[class^="ms_w"][class$="c"] {
  margin: 0 auto;
}
.ms_wrapper1c {
  /* manipolato nelle media queries */
  width: 430px;
}
.ms_w70c { width: 70%; }
.ms_w60c { width: 60%; }
.ms_w50c { width: 50%; }
.ms_bg_green    { background-color: #1ABC9C; }
.ms_bg_blue     { background-color: #2C3E50; }
.ms_bg_darkblue { background-color: #1A252F; }
.ms_bg_white    { background-color: white; }
.ms_tx_white    { color: white; }
.ms_tx_blue     { color: #2C3E50; }
.ms_padding_vert_std {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ms_padding_vert_small {
  padding-top: 60px;
  padding-bottom: 30px;
}

/*************************************
  MAIN
*/

/* HEADER TOP (bootstrap navbar) */
.ms_navbar {
  border: 0;
  height: 80px;
  /* line-height: 80px; */
  /* vertical-align: middle; */
}
.navbar-default.ms_navbar .navbar-nav>li>a,
.navbar-default.ms_navbar .navbar-brand {
  color: white;
}

/* HEADER TOP (personal) */
#header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
#header_top ul li:not(:last-child) {
  margin-right: 20px;
}
#header_top ul li a {
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
#header_top ul li a:hover {
  color: #1ABC9C;
}
#header_top .ms_button_menu .ms_btn {
  line-height: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #1ABC9C;
}
#header_top .ms_button_menu .ms_btn:hover {
  background-color: #179b80;
  color: white;
  cursor: pointer;
}

/* JUMBOTRON (personal) */
#jumbotron {
  margin-top: 80px;
}
#jumbotron .ms_box img {
  width: 240px;
  margin-bottom: 20px;
}

/* PORTFOLIO */
#portfolio .ms_box {
  position: relative;
  width: 95%;
  border-radius: 10px;
  margin-bottom: 50px;
  overflow: hidden;
}
#portfolio .ms_box .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #1ABC9C;
  transition: opacity 0.5s ease 0s;
}
#portfolio .ms_box .overlay::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 15em;
}
#portfolio .ms_box:hover .overlay {
  opacity: 0.9;
  cursor: pointer;
}
#portfolio .ms_box img {
  width: 100%;
}

/* ABOUT */
#about .ms_btn {
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
  transition: all 0.2s ease 0s;
  margin-top: 30px;
}
#about .ms_btn:hover {
  color: #2C3E50;
  background-color: white;
}

/* CONTACT */
#contact form {
  text-align: left;
}
#contact textarea,
#contact input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #1A252F;
  box-shadow: none;
}
#contact .ms_btn {
  color: white;
  padding: 10px 15px;
  background-color: #1ABC9C;
  transition: all 0.2s ease 0s;
  margin-top: 30px;
}
#contact .ms_btn:hover {
  background-color: #179b80;
}

/* FOOTER */
footer .ms_box {
  margin-bottom: 40px;
}
footer .text1 {
  margin-bottom: 20px;
}
footer .text3 {
  text-align: center;
}
footer .social .fab {
  color: white;
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  padding: 12px 10px;
  border: 2px solid white;
  border-radius: 50%;
}
footer .social .fab:hover {
  color:#2C3E50;
  background-color: white;
}

/*************************************
    MENU OVERLAY
*/
#header_top .overlay {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 0;
  text-align: left;
  /* transition: height 0.5s ease 0s; */
}
#header_top .overlay .ovarlay_content {
  display: none;
  /* visibility: hidden; */
  position: absolute;
  top: 30px;
  right: 70%;
  transition: all 0s ease 0.5s;
}
#header_top .ms_button_menu #btnControl {
  display: none;
}
#header_top .ms_button_menu #btnControl:checked + label .overlay {
  height: 250px;
}
#header_top .ms_button_menu #btnControl:checked + label .overlay .ovarlay_content {
  display: block;
  /* visibility: visible; */
}
#header_top .overlay .ovarlay_content ul li {
  line-height: 4em;
}

/*************************************
  ELEMENTS
*/

/* separator */
.separator {
  max-width: 350px;
  min-width: 10%;
  margin: 20px auto 30px;
}
.separator:before,
.separator:after {
    content: " ";
    display: inline-block;
    width: 30%;
    height: 4px;
    border-radius: 2px;
    margin: 8px 10px;
    background-color: white;
  }
.separator.sep_white:before,
.separator.sep_white:after {
  background-color: white;
}
.separator.sep_darkblue:before,
.separator.sep_darkblue:after {
  background-color: #1A252F;
}
/* .separator hr {
  display: inline-block;
  width: 30%;
  border-radius: 5px;
  margin: 0 15px 10px;
} */
.separator .fa-star {
  font-size: 2.3em;
}
.separator.sep_white hr {
  border-top: 4px solid white;
}
.separator.sep_darkblue hr {
  border-top: 4px solid #1A252F;
}


/*************************************
  MEDIA QUERIES
*/

/* XS default */

.ms_wrapper1c {
  /* width: 70%; */
  width: 430px;
}
#header_top {
  height: 70px;
  line-height: 70px;
}
#jumbotron {
  margin-top: 70px;
}

/* texts */
.h1_text {
  font-size: 3.1em;
  font-weight: 700;
}
.h2_text {
  font-size: 2.7em;
  font-weight: 700;
}
.text1 {
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: 700;
}
.text2 {
  font-size: 1.3em;
  font-weight: 500;
}
.text3 {
  font-size: 1.3em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}
.text4 {
  font-size: 1.1em;
  font-weight: 600;
}

/* SM >= 768 */
@media screen and (min-width: 768px) {
  .ms_wrapper1c {
    width: 95%;
  }
}
/* MD >= 992 */
@media screen and (min-width: 992px) {

  #header_top {
    height: 100px;
    line-height: 100px;
  }
  #jumbotron {
    margin-top: 80px;
  }
  
  /* texts */
  .h1_text {
    font-size: 4.5em;
    font-weight: 700;
  }
  .h2_text {
    font-size: 3.5em;
    font-weight: 700;
  }
  .text1 {
    font-size: 2em;
    font-weight: 700;
  }
  .text2 {
    font-size: 1.7em;
    font-weight: 500;
  }


}
/* LG >= 1200 */
@media screen and (min-width: 1200px) {

}
























/*************************************
    D E B U G
*/

/* .debug [class*="container-"] {
  border: 1px solid green;
} */
.debug [class="row"] {
  border: 1px solid red;
}
.debug [class*="col-"] {
  position: relative;
  background-color: pink;
  border: 1px solid black;
  /* height: 80px; */
}
.debug [class*="col-"]::before {
  content: "default";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99999;
  font-size: 10px;
  color: white;
  min-width: 24px;
  text-align: center;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.5);
}
.debug [class*="col-xs-1"]::before { content: "xs-1"; line-height: 100%; }
.debug [class*="col-xs-2"]::before { content: "xs-2"; line-height: 100%; }
.debug [class*="col-xs-3"]::before { content: "xs-3"; line-height: 100%; }
.debug [class*="col-xs-4"]::before { content: "xs-4"; line-height: 100%; }
.debug [class*="col-xs-5"]::before { content: "xs-5"; line-height: 100%; }
.debug [class*="col-xs-6"]::before { content: "xs-6"; line-height: 100%; }
.debug [class*="col-xs-7"]::before { content: "xs-7"; line-height: 100%; }
.debug [class*="col-xs-8"]::before { content: "xs-8"; line-height: 100%; }
.debug [class*="col-xs-9"]::before { content: "xs-9"; line-height: 100%; }
.debug [class*="col-xs-10"]::before { content: "xs-10"; line-height: 100%; }
.debug [class*="col-xs-11"]::before { content: "xs-11"; line-height: 100%; }
.debug [class*="col-xs-12"]::before { content: "xs-12"; line-height: 100%; }
@media screen and (min-width: 768px) {
  .debug [class*="col-sm-1"]::before { content: "sm-1"; line-height: 100%; }
  .debug [class*="col-sm-2"]::before { content: "sm-2"; line-height: 100%; }
  .debug [class*="col-sm-3"]::before { content: "sm-3"; line-height: 100%; }
  .debug [class*="col-sm-4"]::before { content: "sm-4"; line-height: 100%; }
  .debug [class*="col-sm-5"]::before { content: "sm-5"; line-height: 100%; }
  .debug [class*="col-sm-6"]::before { content: "sm-6"; line-height: 100%; }
  .debug [class*="col-sm-7"]::before { content: "sm-7"; line-height: 100%; }
  .debug [class*="col-sm-8"]::before { content: "sm-8"; line-height: 100%; }
  .debug [class*="col-sm-9"]::before { content: "sm-9"; line-height: 100%; }
  .debug [class*="col-sm-10"]::before { content: "sm-10"; line-height: 100%; }
  .debug [class*="col-sm-11"]::before { content: "sm-11"; line-height: 100%; }
  .debug [class*="col-sm-12"]::before { content: "sm-12"; line-height: 100%; }
}
@media screen and (min-width: 992px) {
  .debug [class*="col-md-1"]::before { content: "md-1"; line-height: 100%; }
  .debug [class*="col-md-2"]::before { content: "md-2"; line-height: 100%; }
  .debug [class*="col-md-3"]::before { content: "md-3"; line-height: 100%; }
  .debug [class*="col-md-4"]::before { content: "md-4"; line-height: 100%; }
  .debug [class*="col-md-5"]::before { content: "md-5"; line-height: 100%; }
  .debug [class*="col-md-6"]::before { content: "md-6"; line-height: 100%; }
  .debug [class*="col-md-7"]::before { content: "md-7"; line-height: 100%; }
  .debug [class*="col-md-8"]::before { content: "md-8"; line-height: 100%; }
  .debug [class*="col-md-9"]::before { content: "md-9"; line-height: 100%; }
  .debug [class*="col-md-10"]::before { content: "md-10"; line-height: 100%; }
  .debug [class*="col-md-11"]::before { content: "md-11"; line-height: 100%; }
  .debug [class*="col-md-12"]::before { content: "md-12"; line-height: 100%; }
}
@media screen and (min-width: 1200px) {
  .debug [class*="col-lg-1"]::before { content: "lg-1"; line-height: 100%; }
  .debug [class*="col-lg-2"]::before { content: "lg-2"; line-height: 100%; }
  .debug [class*="col-lg-3"]::before { content: "lg-3"; line-height: 100%; }
  .debug [class*="col-lg-4"]::before { content: "lg-4"; line-height: 100%; }
  .debug [class*="col-lg-5"]::before { content: "lg-5"; line-height: 100%; }
  .debug [class*="col-lg-6"]::before { content: "lg-6"; line-height: 100%; }
  .debug [class*="col-lg-7"]::before { content: "lg-7"; line-height: 100%; }
  .debug [class*="col-lg-8"]::before { content: "lg-8"; line-height: 100%; }
  .debug [class*="col-lg-9"]::before { content: "lg-9"; line-height: 100%; }
  .debug [class*="col-lg-10"]::before { content: "lg-10"; line-height: 100%; }
  .debug [class*="col-lg-11"]::before { content: "lg-11"; line-height: 100%; }
  .debug [class*="col-lg-12"]::before { content: "lg-12"; line-height: 100%; }
}
